<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="remark,remarkjs,markdown,slideshow,presentation" />
    <meta name="description" content="A simple, in-browser, markdown-driven slideshow tool." />
    <title id="title">$a{arg:title}</title>
    <script src="https://use.fontawesome.com/71690c7f22.js"></script>
    <style>
	$a{arg:style}
    </style>
  </head>
  <body>
<textarea id="source">
$a{arg:slides}
</textarea>
$a{res:/content/js/boilerplate1.txt}
  </body>
</html>
