<config>
	<endpoint>
		<grammar>
			<simple>res:/bosatsu/slides/{file}</simple>
		</grammar>
		<request>
			<identifier>active:trl</identifier>
			<argument name="template">res:/content/template/master1.html</argument>
			<argument name="preserveComments">true</argument>
			<argument name="style">res:/content/style/bosatsu.txt</argument>
			<argument name="slides">res:/content/slides/[[arg:file]].txt</argument>
		</request>
		<header name="mime">text/html</header>
	</endpoint>
	<endpoint>
		<grammar>
			<simple>res:/bosatsu/data/{file}</simple>
		</grammar>
		<request>
			<identifier>res:/content/[[arg:file]]</identifier>
		</request>
	</endpoint>
  
  <!-- reusable bits -->
  
  <endpoint>
    <id>bosatsu:common:qualifications</id>
    <request>
      <identifier>res:/bosatsu/data/snippets/qualifications.txt</identifier>
    </request>
  </endpoint>
</config>
